<app-admin-layout>
  <div class="bg-white rounded-xl p-5">

    <div class="flex items-center justify-between mb-5">
      <h2 class="box-title">Account Registration Requests</h2>
      <button
        class="px-3 py-2 flex items-center gap-1 border-2 border-ghostWhiteColor hover:bg-ghostWhiteColor rounded-lg cursor-pointer">
        <h3 class="font-medium text-primaryDarkColor4 text-sm">Oldest to Recent</h3>
        <img src="/arrow-swap.svg" alt=""/>
      </button>
    </div>

    <div>
      <div class="flow-root">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
            <table class="min-w-[800px] w-full">
              <thead>
              <tr class="bg-ghostWhiteColor">
                <th scope="col" class="w-[40%] py-3.5 px-2 text-left text-sm font-normal text-primaryDarkColor4">Name
                </th>
                <th scope="col" class="py-3.5 px-2 text-left text-sm font-normal text-primaryDarkColor4">Date Joined
                </th>
                <th scope="col" class="py-3.5 px-2 text-left text-sm font-normal text-primaryDarkColor4">University ID
                  No
                </th>
                <th scope="col" class="py-3.5 px-2 text-left text-sm font-normal text-primaryDarkColor4">University ID
                  Card
                </th>
                <th scope="col" class="py-3.5 px-2 text-left text-sm font-normal text-primaryDarkColor4">Action</th>
              </tr>
              </thead>
              <tbody class="divide-y divide-gray-200 bg-white w-full">
                @for (account of allAccounts; track account.id) {
                  <tr>
                    <td class="whitespace-nowrap py-5 px-2 text-sm">
                      <div class="flex items-center gap-2">
                        @if (account.profilePic) {
                          <img
                            [src]="account.profilePic"
                            alt="account image"
                            class="size-12 rounded-full"/>
                        } @else {
                          <div
                            class="size-12 rounded-full flex items-center justify-center text-primaryDarkColor4 border-2 uppercase font-geist font-semibold text-xl"
                            [class]="profilePicService.getStyles(account.name)">
                            {{ account.name.slice(0, 2) }}
                          </div>
                        }
                        <div>
                          <h2 class="mb-0 text-sm font-semibold text-primaryDarkColor4">{{ account.name }}</h2>
                          <p class="text-sm text-secondaryGreyColor">{{ account.email }}</p>
                        </div>
                      </div>
                    </td>
                    <td
                      class="whitespace-nowrap py-5 px-2 text-sm text-primaryDarkColor4 font-medium">{{ account.dateJoined | date }}
                    </td>
                    <td
                      class="whitespace-nowrap py-5 px-2 text-sm text-primaryDarkColor4 font-medium">{{ account.universityId }}
                    </td>
                    <td class="whitespace-nowrap py-5 px-2 text-sm">
                      <hlm-dialog>
                        <button brnDialogTrigger>
                          <div class="flex items-center gap-2 cursor-pointer">
                            <img src="/eye-blue.svg" alt=""/>
                            <h3 class="text-sm font-semibold text-sky-500">View ID Card</h3>
                          </div>
                        </button>
                        <hlm-dialog-content style="width: 500px !important; padding: 16px" class="w-[500px] justify-center" *brnDialogContent="let ctx">
                          <hlm-dialog-header>

                          </hlm-dialog-header>
                          <div class="py-4 place-items-center">

                          </div>
                          <hlm-dialog-footer>

                          </hlm-dialog-footer>
                        </hlm-dialog-content>
                      </hlm-dialog>
                    </td>
                    <td class="whitespace-nowrap py-5 px-2 text-sm">
                      <div class="flex items-center gap-2.5">

                        <hlm-dialog>
                          <button id="edit-profile" brnDialogTrigger
                          class="px-3 py-2 rounded-lg text-center font-semibold text-sm text-[#027A48] bg-[#ECFDF3] hover:bg-green-800 hover:text-ghostWhiteColor transition-all">
                            Approve
                          </button>
                          <hlm-dialog-content style="width: 500px !important; padding: 16px" class="w-[500px] justify-center" *brnDialogContent="let ctx">
                            <hlm-dialog-header>

                            </hlm-dialog-header>
                            <div class="py-4 place-items-center">
                              <div class="size-28 rounded-full flex items-center justify-center bg-[#4C7B62]/10">
                                <img src="/approve.svg" alt="" />
                              </div>
                              <div class="mt-5 text-center">
                                <h2 class="text-lg font-semibold text-primaryDarkColor3">Approve Account Request</h2>
                                <p class="mt-1 text-base text-[#64748B]">Approve the student’s account request and grant access. A confirmation email will be sent upon approval.</p>
                              </div>
                            </div>
                            <hlm-dialog-footer>
                              <button type="submit"
                                      class="w-full text-sm font-bold text-[#F8FAFC] p-3.5 rounded-lg bg-[#4C7B62] hover:bg-[#4C7B62]/85">
                                Approve & Send Confirmation
                              </button>
                            </hlm-dialog-footer>
                          </hlm-dialog-content>
                        </hlm-dialog>

                        <hlm-dialog>
                          <button id="" brnDialogTrigger
                                  class="w-full px-3 py-2 rounded-lg text-center font-semibold text-sm text-[#EF3A4B] bg-[#FDF2FA] hover:bg-rose-800 hover:text-ghostWhiteColor transition-all">
                            Deny
                          </button>
                          <hlm-dialog-content style="width: 500px !important; padding: 16px" class="w-[500px] justify-center" *brnDialogContent="let ctx">
                            <hlm-dialog-header>

                            </hlm-dialog-header>
                            <div class="py-4 place-items-center">
                              <div class="size-28 rounded-full flex items-center justify-center bg-[#F46F70]/10">
                                <img src="/deny.svg" alt="" />
                              </div>
                              <div class="mt-5 text-center">
                                <h2 class="text-base font-semibold text-primaryDarkColor3">Deny Account Request</h2>
                                <p class="mt-1 text-base text-[#64748B]">Denying this request will notify the student they’re not eligible due to unsuccessful ID card verification.</p>
                              </div>
                            </div>
                            <hlm-dialog-footer>
                              <button type="submit"
                                      class="w-full text-sm font-bold text-[#F8FAFC] p-3.5 rounded-lg bg-[#F46F70] hover:bg-[#F46F70]/85">
                                Deny & Notify Student
                              </button>
                            </hlm-dialog-footer>
                          </hlm-dialog-content>
                        </hlm-dialog>

                      </div>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
            <div class="flex items-center justify-end gap-3 py-6">
              <button
                class="size-12 bg-inputColor hover:bg-inputColor/80 rounded-lg flex items-center justify-center"><img
                src="/left-arrow.svg" alt="previous arrow">
              </button>
              <button
                class="size-12 bg-lightYellowColor hover:bg-lightYellowColor/80 rounded-lg flex items-center justify-center text-darkTextColor font-semibold">
                1
              </button>
              <button
                class="size-12 bg-inputColor hover:bg-inputColor/80 rounded-lg flex items-center justify-center text-primaryWhiteColor font-semibold">
                ...
              </button>
              <button
                class="size-12 bg-inputColor hover:bg-inputColor/80 rounded-lg flex items-center justify-center text-primaryWhiteColor font-semibold">
                7
              </button>
              <button
                class="size-12 bg-inputColor hover:bg-inputColor/80 rounded-lg flex items-center justify-center"><img
                src="/right-arrow.svg" alt="next arrow">
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-admin-layout>
