<div class="mb-5">
  <label class="label">Book Video</label>
  <label
    for="bookVideo"
    class="input flex flex-col items-center justify-center w-full border-2 border-dashed border-gray-300 rounded-lg cursor-pointer hover:bg-gray-100"
  >
    <div class="flex items-center gap-2">
      <img src="/img-upload.svg" alt="Upload"/>
      <span class="text-xs font-medium text-slate-500">Upload a video</span>
    </div>
    <input
      id="bookVideo"
      type="file"
      name="bookVideo"
      formControlName="bookVideoControl"
      class="hidden"
      accept="video/mp4/*"
    />
  </label>
</div>
