<header class="w-full">
  <nav class="flex items-center justify-between">
    <img src="/book-wise-logo.svg" alt="logo" class="object-contain"/>
    <ul class="flex items-center gap-6">
      <li>
        <a routerLink="/home"
           routerLinkActive="text-[#EED1AC] font-bold"
           class="text-sm font-normal text-primaryWhiteColor hover:text-[#EED1AC] transition-all">Home</a>
      </li>
      <li>
        <a routerLink="/search"
           routerLinkActive="text-[#EED1AC] font-bold"
           class="text-sm font-normal text-primaryWhiteColor hover:text-[#EED1AC] transition-all">Search</a>
      </li>
      <li>
        <a routerLink="/admin/home"
           routerLinkActive="text-[#EED1AC] font-bold"
           class="text-sm font-normal text-primaryWhiteColor hover:text-[#EED1AC] transition-all">Admin</a>
      </li>
      <app-user-dropdown />
    </ul>
  </nav>
</header>
