<header class="w-full">
  <nav class="flex items-center justify-between">
    <img src="/book-wise-logo.svg" alt="logo" class="object-contain"/>
    <ul class="flex items-center gap-6">
      <li>
        <a routerLink=""
           routerLinkActive="text-[#EED1AC] font-bold"
           class="text-sm font-normal text-primaryWhiteColor hover:text-[#EED1AC] transition-all">Home</a>
      </li>
<!--      <li>-->
<!--        <a routerLink="/about"-->
<!--           routerLinkActive="text-[#EED1AC] font-bold"-->
<!--           class="text-sm font-normal text-primaryWhiteColor hover:text-[#EED1AC] transition-all">About</a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a routerLink="/categories"-->
<!--           routerLinkActive="text-[#EED1AC] font-bold"-->
<!--           class="text-sm font-normal text-primaryWhiteColor hover:text-[#EED1AC] transition-all">Categories</a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a routerLink="/best-sellers"-->
<!--           routerLinkActive="text-[#EED1AC] font-bold"-->
<!--           class="text-sm font-normal text-primaryWhiteColor hover:text-[#EED1AC] transition-all">Best Sellers</a>-->
<!--      </li>-->
      <li>
        <a routerLink="/search"
           routerLinkActive="text-[#EED1AC] font-bold"
           class="text-sm font-normal text-primaryWhiteColor hover:text-[#EED1AC] transition-all">Search</a>
      </li>
      <app-user-dropdown />
    </ul>
  </nav>
</header>
