<article class="bg-[#F8F8FF] rounded-lg p-3.5 h-fit sm:h-[109px] relative">
  <div class="flex flex-col xs:flex-row items-center gap-1 xs:gap-3">
    <img [src]="bookPoster()" alt="book poster"/>
    <div>
      <h2 class="text-base font-semibold text-primaryDarkColor3">{{ bookName() }}</h2>

      <div class="my-1 flex flex-col xs:flex-row items-center gap-1 xs:gap-4">
        <span class="text-sm text-[#64748B]">By {{ author() }}</span>
        <ul class="flex items-center gap-1">
          <span class="size-1 rounded-full bg-secondaryGreyColor"></span>
          <li *ngFor="let g of genre()"
              class="text-sm text-[#64748B]">
            {{ g }},
          </li>
        </ul>
      </div>

      <div class="flex items-center gap-1 xs:justify-start justify-center">
        <img src="/admin/calender-icon.svg" alt="calender-icon"/>
        <h4 class="text-xs text-[#3A354E] font-medium">{{ date() | date }}</h4>
      </div>
    </div>

  </div>
</article>
