<app-main-layout>
  <div class="mt-32 sm:max-w-[360px] mx-auto overflow-hidden">
    <img src="/search-empty.png" alt="empty search img" class="mx-auto" />
    <h2 class="mt-6 text-xl text-white font-semibold text-center">OOPS! Page not found</h2>
    <p class="text-primaryWhiteColor/80 text-base text-center mt-3">
      The page you are looking for might have been removed or temporarily unavailable.
    </p>
    <a routerLink="/home" class="mt-5 block text-center w-full bg-lightYellowColor hover:bg-lightYellowColor/80 transition-all rounded-lg px-3 py-3 text-darkTextColor text-lg font-bebas">
      Back to Home Page
    </a>
  </div>
</app-main-layout>
