<main>
  <app-sidebar/>
  <div class="ml-0 xl:ml-[265px] min-h-screen bg-ghostWhiteColor rounded-bl-3xl rounded-tl-3xl border-2 border-[#EDF1F1]">
    <div class="py-6 sm:container">
      <div class="px-4 sm:px-0">
        <div class="flex items-center justify-between mb-10">
          <div>
            <h2 class="text-2xl font-semibold text-primaryDarkColor3 tracking-wide">Welcome, Abdulrahman</h2>
            <p class="mt-2 text-base text-slate-500 font-normal">Monitor all of your projects and tasks here</p>
          </div>
          <div class="max-w-[400px] w-[50px] sm:w-fit md:w-full bg-[#F9FAFB] border-2 border-[#CBD5E1] rounded-lg p-3">
            <div class="flex items-center gap-3">
              <img src="/admin/search-normal.svg" alt="search"/>
              <input type="text"
                     placeholder="Search users, books by title, author, or genre."
                     class="w-full border-none outline-none bg-transparent text-slate-500 text-base">
            </div>
          </div>
        </div>

        <ng-content />
      </div>
    </div>
  </div>
</main>
