<app-admin-layout>
  <div class="bg-white rounded-xl p-5">

    <div class="flex items-center justify-between mb-5">
      <h2 class="box-title">Borrow Book Requests</h2>
      <button (click)="toggleSort()"
              class="px-3 py-2 flex items-center gap-1 border-2 border-ghostWhiteColor hover:bg-ghostWhiteColor rounded-lg cursor-pointer">
        <h3 class="font-medium text-primaryDarkColor4 text-sm">Oldest to Recent</h3>
        <img src="/arrow-swap.svg" alt=""/>
      </button>
    </div>

    <div class="card">
      <p-table
        [value]="borrowedRequestsBooks"
        [paginator]="true"
        [rows]="6"
        [tableStyle]="{ 'min-width': '50rem' }"
        [rowsPerPageOptions]="[6, 12, 20]"
      >
        <ng-template #header>
          <tr>
            <th scope="col" class="border-none text-tableColor whitespace-nowrap text-sm">Book</th>
            <th scope="col" class="border-none text-tableColor whitespace-nowrap text-sm">User Requested</th>
            <th scope="col" class="border-none text-tableColor whitespace-nowrap text-sm">Borrowed Status</th>
            <th scope="col" class="border-none text-tableColor whitespace-nowrap text-sm">Borrowed Date</th>
            <th scope="col" class="border-none text-tableColor whitespace-nowrap text-sm">Return Date</th>
            <th scope="col" class="border-none text-tableColor whitespace-nowrap text-sm">Due Date</th>
            <th scope="col" class="border-none text-tableColor whitespace-nowrap text-sm">Receipt</th>
          </tr>
        </ng-template>
        <ng-template #body let-borReq>
          <tr>
            <td class="font-medium text-xs text-tableColor">
              <div class="flex items-center gap-3">
                <img [src]="borReq.bookImage" alt="" class="h-10"/>
                <h2 class="text-sm font-semibold text-primaryDarkColor3">{{ borReq.bookName }}</h2>
              </div>
            </td>
            <td class="text-xs text-tableColor">
              <div class="flex items-center gap-2">
                @if (borReq.userImage) {
                  <img [src]="borReq.userImage" alt="user img" class="size-10 rounded-full object-contain"/>
                } @else {
                  <div [class]="profilePicService.getStyles(borReq.userName)">
                    {{ borReq.userName.slice(0, 2) }}
                  </div>
                }
                <div>
                  <h2 class="text-primaryDarkColor3 font-semibold text-sm">{{ borReq.userName }}</h2>
                  <p class="text-start text-secondaryGreyColor">{{ borReq.userEmail }}</p>
                </div>
              </div>

            </td>
            <td>
              @if (borReq.borrowedStatus === "Borrowed") {
                <div class="px-2 py-1 rounded-xl w-fit text-sm font-medium text-[#6941C6] bg-[#F9F5FF]">Borrowed</div>
              } @else if (borReq.borrowedStatus === "Returned") {
                <div class="px-2 py-1 rounded-xl w-fit text-sm font-medium text-[#026AA2] bg-[#F0F9FF]">Returned</div>
              }
              @else if (borReq.borrowedStatus === "Late Return") {
                <div class="px-2 py-1 rounded-xl w-fit text-sm font-medium text-[#C01048] bg-[#FFF1F3]">Late Return</div>
              }
            </td>
            <td class="font-medium text-xs text-tableColor">{{ borReq.borrowedDate | date }}</td>
            <td class="font-medium text-xs text-tableColor">{{ borReq.returnDate | date }}</td>
            <td class="font-medium text-xs text-tableColor">{{ borReq.dueDate | date }}</td>
            <td>
              <button class="group flex items-center gap-1 px-3 py-2 rounded-lg bg-ghostWhiteColor hover:bg-[#25388C] text-[#25388C] hover:text-ghostWhiteColor transition-all font-semibold text-sm">
                <img src="/receipt.svg" alt="" class="transition-all group-hover:brightness-0 group-hover:invert" />
                Generate
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

  </div>
</app-admin-layout>
