<app-main-layout>
  <div class="max-w-[600px] mt-20 mx-auto text-center">
    <h2 class="text-lg text-primaryWhiteColor font-bebas tracking-wider">Discover Your Next Great Read</h2>
    <p class="mt-2 text-3xl sm:text-5xl font-semibold text-primaryWhiteColor leading-snug">
      Explore and Search for <span class="text-lightYellowColor">Any Book</span> In Our Library
    </p>
    <div class="p-5 mt-10 relative bg-primaryDarkColor rounded-lg">
      <img src="/search-icon.svg" alt="search icon" class="absolute left-4 top-[50%] -translate-y-[50%]"/>
      <!--(input)="onSearchedBook($any(event).target.value)"-->
      <input type="text"
             placeholder="search for a book"
             class="bg-primaryDarkColor rounded-lg border-none outline-none text-white text-base font-semibold ml-[28px]"
             style="width: calc(100% - 28px);"
      />
    </div>
  </div>
  @if (true) {
    <app-search-results/>
  } @else {
    <app-search-empty/>
  }
</app-main-layout>
