<article class="max-w-[160px] xs:max-w-[140px] mx-auto md:mx-0 cursor-pointer">
  <img [src]="bookPosterContainer()" alt="book container" class="h-full w-full hidden"/>
  <div class="relative">
    <app-book-cover [bookCoverColor]="'#C73D3A'" class="" />
    <img [src]="bookPosterImage()" alt="book poster" class="absolute top-0 -right-1"/>
  </div>
  <h2 class="text-white font-semibold text-base mt-4 mb-2">{{ bookName() }}</h2>
  <h4 class="text-white/60 font-normal italic text-sm">{{ bookGenre() }}</h4>
</article>

