<article class="bg-[#F8F8FF] rounded-lg p-3.5 h-[100px] relative mb-3">
  <div class="flex items-center gap-3">
    <img [src]="bookPoster()" alt="book poster"/>
    <div>
      <h2 class="text-base font-semibold text-primaryDarkColor3">{{ bookName() }}</h2>

      <div class="my-1 flex items-center gap-4">
      <span class="text-sm text-[#64748B]">By {{ author() }}</span>
      <ul class="flex items-center gap-1">
        <span class="size-1 rounded-full bg-secondaryGreyColor"></span>
        <li *ngFor="let g of genre()"
        class="text-sm text-[#64748B]">
          {{ g }},
        </li>
      </ul>
      </div>

      <div class="flex items-center gap-3">
        <div class="flex items-center gap-1">
          <img [src]="borrowedUserImg()" alt="user img" class="w-5 h-5 rounded-full" />
          <h4 class="text-xs text-[#3A354E] font-medium">{{borrowedUserName()}}</h4>
        </div>
        <div class="flex items-center gap-1">
          <img src="/admin/calender-icon.svg" alt="calender-icon" />
          <h4 class="text-xs text-[#3A354E] font-medium">{{borrowedDate() | date}}</h4>
        </div>
      </div>
    </div>
  </div>

<!--  <a routerLink="" class="size-8 rounded-lg shadow-xl bg-white flex items-center justify-center absolute top-3.5 right-3.5">-->
<!--    <img src="/admin/eye.svg" alt="eye icon" />-->
<!--  </a>-->
</article>
