<article class="bg-ghostWhiteColor rounded-lg p-3.5 h-fit sm:h-[100px] relative">
  <div class="flex flex-col xs:flex-row items-center gap-3">
    <img [src]="bookPoster()" alt="book poster"/>
    <div>
      <h2 class="text-base font-semibold text-primaryDarkColor3">{{ bookName() }}</h2>

      <div class="my-1 flex flex-col xs:flex-row items-center gap-1 xs:gap-4">
      <span class="text-xs text-[#64748B]">By {{ author() }}</span>
        <span class="text-xs text-[#64748B]">{{genre()}}</span>
      </div>

      <div class="flex flex-col xs:flex-row items-center gap-1 xs:gap-3 mt-2">
        <div class="flex items-center gap-1">
<!--          @if (!borrowedUserImg ?? '') {-->
<!--            <div class="userImage">{{borrowedUserName().slice(0,2)}}</div>-->
<!--          } @else {-->
<!--            <img [src]="borrowedUserImg" alt="" class="" />-->
<!--          }-->
          <img src="/user3.png" alt="" class="size-5" />
          <h4 class="text-xs text-[#3A354E] font-medium">{{borrowedUserName()}}</h4>
        </div>
        <div class="flex items-center gap-1">
          <img src="/admin/calender-icon.svg" alt="calender-icon" />
          <h4 class="text-xs text-[#3A354E] font-medium">{{borrowedDate() | date}}</h4>
        </div>
      </div>

    </div>
  </div>

<!--  <a routerLink="" class="size-8 rounded-lg shadow-xl bg-white flex items-center justify-center absolute top-3.5 right-3.5">-->
<!--    <img src="/admin/eye.svg" alt="eye icon" />-->
<!--  </a>-->
</article>
