<app-admin-layout>
  <div class="bg-white rounded-xl p-5">

    <div class="flex items-center justify-between mb-5">
      <h2 class="box-title">All Users</h2>
      <button (click)="toggleSort()"
        class="px-3 py-2 flex items-center gap-1 border-2 border-ghostWhiteColor hover:bg-ghostWhiteColor rounded-lg cursor-pointer">
        <h3 class="font-medium text-primaryDarkColor4 text-sm">
          {{ isAscending ? 'A-Z' : 'Z-A' }}
        </h3>
        <img ngSrc="/arrow-swap.svg" alt="" height="16" width="16"/>
      </button>
    </div>

    <div>
      <div class="flow-root">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
            <table class="min-w-[900px] w-full">
              <thead>
              <tr class="bg-ghostWhiteColor">
                <th scope="col" class="py-3.5 px-2 text-left text-sm font-normal text-primaryDarkColor4">Name</th>
                <th scope="col" class="py-3.5 px-2 text-left tex font-normal text-primaryDarkColor4">Date Joined
                </th>
                <th scope="col" class="py-3.5 px-2 text-left text-sm font-normal text-primaryDarkColor4">Role</th>
                <th scope="col" class="py-3.5 px-2 text-left text-sm font-normal text-primaryDarkColor4">Books
                  Borrowed
                </th>
                <th scope="col" class="py-3.5 px-2 text-left text-sm font-normal text-primaryDarkColor4">University ID
                  No
                </th>
                <th scope="col" class="py-3.5 px-2 text-left text-sm font-normal text-primaryDarkColor4">University ID
                  Card
                </th>
                <th scope="col" class="py-3.5 px-2 text-left text-sm font-normal text-primaryDarkColor4">Action</th>
              </tr>
              </thead>
              <tbody class="divide-y divide-gray-200 bg-white w-full">
                @for (user of allUsers; track user.id) {
                  <tr>
                    <td class="whitespace-nowrap py-5 px-2 text-sm text-primaryDarkColor4 font-medium">
                      <div class="flex items-center gap-2">
                        @if (user.profilePic) {
                          <img
                            [src]="user.profilePic"
                            alt="account image"
                            class="size-12 rounded-full"/>
                        } @else {
                          <div
                            class="size-12 rounded-full flex items-center justify-center border-2 uppercase font-geist font-semibold text-xl"
                            [class]="profilePicService.getStyles(user.name)">
                            {{ user.name.slice(0, 2) }}
                          </div>
                        }
                        <div>
                          <h2 class="mb-0 text-sm font-semibold text-primaryDarkColor3">{{ user.name }}</h2>
                          <p class="text-sm text-secondaryGreyColor">{{ user.email }}</p>
                        </div>
                      </div>
                    </td>
                    <td
                      class="whitespace-nowrap py-5 px-2 text-sm text-primaryDarkColor4 font-medium">{{ user.dateJoined | date }}
                    </td>
                    <td class="whitespace-nowrap py-5 px-2 text-sm text-primaryDarkColor4 font-medium">
                      @if (user.role === 'user') {
                        <div
                          class="w-fit px-4 py-1 rounded-3xl text-center bg-[#FDF2FA] text-[#C11574] text-sm font-medium">
                          {{ user.role }}
                        </div>
                      } @else {
                        <div
                          class="w-fit px-4 py-1 rounded-3xl text-center bg-[#ECFDF3] text-[#027A48] text-sm font-medium">
                          {{ user.role }}
                        </div>
                      }
                    </td>
                    <td
                      class="whitespace-nowrap py-5 px-2 text-sm text-primaryDarkColor4 font-medium">{{ user.booksBorrowed }}
                    </td>
                    <td
                      class="whitespace-nowrap py-5 px-2 text-sm text-primaryDarkColor4 font-medium">{{ user.universityId }}
                    </td>
                    <td class="whitespace-nowrap py-5 px-2 text-sm text-primaryDarkColor4 font-medium">
                      <hlm-dialog>
                        <button brnDialogTrigger>
                          <div class="flex items-center gap-2 cursor-pointer">
                            <img ngSrc="/eye-blue.svg" alt="" height="16" width="16"/>
                            <h3 class="text-sm font-semibold text-sky-500">View ID Card</h3>
                          </div>
                        </button>
                        <hlm-dialog-content
                          class="w-[90%] mx-auto sm:w-[500px] justify-center" *brnDialogContent="let ctx">
                          <hlm-dialog-header>

                          </hlm-dialog-header>
                          <div class="py-4 place-items-center">

                          </div>
                          <hlm-dialog-footer>

                          </hlm-dialog-footer>
                        </hlm-dialog-content>
                      </hlm-dialog>
                    </td>

                    <td class="whitespace-nowrap py-5 px-2 text-sm text-primaryDarkColor4 font-medium">
                      <hlm-dialog>
                        <button id="" brnDialogTrigger>
                          <img ngSrc="/trash.svg" alt="" class="cursor-pointer" height="20" width="20"/>
                        </button>
                        <hlm-dialog-content
                          class="w-[90%] mx-auto sm:w-[500px] justify-center" *brnDialogContent="let ctx">
                          <hlm-dialog-header>

                          </hlm-dialog-header>
                          <div class="py-4 place-items-center">
                            <div class="size-28 rounded-full flex items-center justify-center bg-[#F46F70]/10">
                              <img ngSrc="/deny.svg" alt="" height="80" width="80"/>
                            </div>
                            <div class="mt-5 text-center">
                              <h2 class="text-base font-semibold text-primaryDarkColor3">Are You Sure to Remove '{{user.name}}' from system?</h2>
                              <p class="mt-1 text-sm text-[#64748B]">
                                Removing this will notify the student they’re not eligible due to unsuccessful ID card verification.
                              </p>
                            </div>
                          </div>
                          <hlm-dialog-footer class="gap-y-3">
                            <button type="submit"
                                    class="w-full text-base font-bold text-[#F8FAFC] p-3.5 rounded-lg bg-[#F46F70] hover:bg-[#F46F70]/85">
                              Remove User
                            </button>

                            <button type="button"
                                    class="w-full text-base font-bold text-[#F8FAFC] p-3.5 rounded-lg bg-[#757575] hover:bg-[#9E9E9E]">
                              Cancel
                            </button>
                          </hlm-dialog-footer>
                        </hlm-dialog-content>
                      </hlm-dialog>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
<!--            <div class="flex items-center justify-end gap-3 py-6">-->
<!--              <button-->
<!--                class="size-12 bg-inputColor hover:bg-inputColor/80 rounded-lg flex items-center justify-center"><img-->
<!--                ngSrc="/left-arrow.svg" alt="previous arrow" height="20" width="20">-->
<!--              </button>-->
<!--              <button-->
<!--                class="size-12 bg-lightYellowColor hover:bg-lightYellowColor/80 rounded-lg flex items-center justify-center text-darkTextColor font-semibold">-->
<!--                1-->
<!--              </button>-->
<!--              <button-->
<!--                class="size-12 bg-inputColor hover:bg-inputColor/80 rounded-lg flex items-center justify-center text-primaryWhiteColor font-semibold">-->
<!--                ...-->
<!--              </button>-->
<!--              <button-->
<!--                class="size-12 bg-inputColor hover:bg-inputColor/80 rounded-lg flex items-center justify-center text-primaryWhiteColor font-semibold">-->
<!--                7-->
<!--              </button>-->
<!--              <button-->
<!--                class="size-12 bg-inputColor hover:bg-inputColor/80 rounded-lg flex items-center justify-center"><img-->
<!--                ngSrc="/right-arrow.svg" alt="next arrow" height="20" width="20">-->
<!--              </button>-->
<!--            </div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</app-admin-layout>
