<hlm-sheet side="left" class="block xl:hidden mt-2">
  <button id="edit-profile" variant="outline" brnSheetTrigger>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
         stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-menu">
      <line x1="4" x2="20" y1="12" y2="12"/>
      <line x1="4" x2="20" y1="6" y2="6"/>
      <line x1="4" x2="20" y1="18" y2="18"/>
    </svg>
<!--    Open Sidebar-->
  </button>
  <hlm-sheet-content *brnSheetContent="let ctx">
    <hlm-sheet-header></hlm-sheet-header>
    <div class="py-4 grid ">
      <div class="pb-0 px-2">
        <img src="/admin/logo-admin.svg" alt="book wise admin logo" class=""/>
      </div>
      <ul class="flex flex-col items-start gap-2.5">
        @for (item of sidebarItems; track item.id) {
          <li
            [routerLink]="item.route"
            class="group px-3 py-4 w-full rounded-lg hover:bg-[#25388C] transition-all cursor-pointer"
            [ngClass]="{ 'bg-[#25388C]': isActive(item.route) }"
          >
            <a
              [routerLink]="item.route"
              class="flex items-center gap-2.5"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <img
                [src]="item.icon"
                alt="home icon"
                [ngClass]="{ 'filter brightness-0 invert': isActive(item.route) }"
                class="group-hover:filter group-hover:brightness-0 group-hover:invert"
              />
              <h3
                class="text-base font-medium text-primaryDarkColor4 group-hover:text-white"
                [ngClass]="{ 'text-white': isActive(item.route) }"
              >
                {{ item.name }}
              </h3>
            </a>
          </li>
        }
      </ul>
    </div>

    <hlm-sheet-footer></hlm-sheet-footer>
  </hlm-sheet-content>
</hlm-sheet>
