<section class="py-14">
  <div class="flex items-center justify-between mb-5">
    <div class="flex items-center gap-3">
      <img src="/logo.svg" alt="logo" class="size-10" />
      <h2 class="text-primaryWhiteColor font-semibold text-xl">New Released Books</h2>
    </div>
    <a routerLink=""
       class="bg-lightYellowColor hover:bg-lightYellowColor/80 transition-all rounded-lg px-3 py-3 text-darkTextColor text-base font-bebas">
      explore more
    </a>
  </div>
  <div class="grid grid-cols-1 xs:grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-7 gap-y-10">
    <app-book-item [bookName]="'Origin - By Dan Brown'"
                   [bookGenre]="'Thriller / Mystery'"
                   [bookPosterImage]="'/book-poster.png'"
                   [bookPosterContainer]="'/book-container-brown.png'"
    />
    <app-book-item [bookName]="'Origin - By Dan Brown'"
                   [bookGenre]="'Thriller / Mystery'"
                   [bookPosterImage]="'/book-poster2.png'"
                   [bookPosterContainer]="'/book-container-yellow.png'"
    />
    <app-book-item [bookName]="'Origin - By Dan Brown'"
                   [bookGenre]="'Thriller / Mystery'"
                   [bookPosterImage]="'/book-poster3.png'"
                   [bookPosterContainer]="'/book-container-black.png'"
    />
    <app-book-item [bookName]="'Origin - By Dan Brown'"
                   [bookGenre]="'Thriller / Mystery'"
                   [bookPosterImage]="'/book-poster4.png'"
                   [bookPosterContainer]="'/book-container-red.png'"
    />
    <app-book-item [bookName]="'Origin - By Dan Brown'"
                   [bookGenre]="'Thriller / Mystery'"
                   [bookPosterImage]="'/book-poster5.png'"
                   [bookPosterContainer]="'/book-container-blue.png'"
    />
    <app-book-item [bookName]="'Origin - By Dan Brown'"
                   [bookGenre]="'Thriller / Mystery'"
                   [bookPosterImage]="'/book-poster6.png'"
                   [bookPosterContainer]="'/book-container-purple.png'"
    />
    <app-book-item [bookName]="'Origin - By Dan Brown'"
                   [bookGenre]="'Thriller / Mystery'"
                   [bookPosterImage]="'/book-poster6.png'"
                   [bookPosterContainer]="'/book-container-purple.png'"
    />
  </div>
</section>
