@import '@angular/cdk/overlay-prebuilt.css';
@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'IBM Plex Sans', 'Bebas Neue', 'Geist', sans-serif;
}

.box-title {
  @apply text-sm sm:text-lg font-semibold text-primaryDarkColor3;
}

.label {
  @apply w-full mb-2 text-primaryDarkColor3 text-base font-medium block ml-1;
}

.input {
  @apply w-full p-4 bg-[#F9FAFB] rounded-md border border-[#CBD5E1] min-h-[53px] text-sm   focus:ring-2 focus:ring-neutral-200 outline-none;
}

th {
  border: none !important;
  background-color: #F8F8FF !important;
}


.p-overlay-mask {
  background: hsl(0deg 0% 0% / 27%) !important;
}

.btn-approve .p-button {
  color: #027A48 !important;
  background-color: #ECFDF3 !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  border: 0 !important;
}
.btn-deny .p-button {
  color: #EF3A4B !important;
  background-color: rgba(244, 111, 112, 0.1) !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  border: 0 !important;
}
.btn-approve .p-button:hover {
  background-color: #4C7B62 !important;
  color: white !important;
}
.btn-deny .p-button:hover {
  background-color: #F46F70 !important;
  color: white !important;
}

/*.acc-req-modals .p-dialog {*/
/*  max-width: 500px !important;*/
/*  width: 100% !important;*/
/*}*/

.btn-trash .p-button {
  background: transparent !important;
  border: none !important;
}
