<app-admin-layout>
  <div class="bg-white rounded-xl p-5">

    <div class="flex items-center justify-between mb-5 flex-wrap">
      <h2 class="box-title">All Books</h2>
      <div class="flex items-center gap-5">
        <button (click)="toggleSort()"
                class="px-3 py-2 flex items-center gap-1 border-2 border-ghostWhiteColor hover:bg-ghostWhiteColor rounded-lg cursor-pointer">
          <h3 class="font-medium text-primaryDarkColor4 text-sm">
            {{ isAscending ? 'A-Z' : 'Z-A' }}
          </h3>
          <img ngSrc="/arrow-swap.svg" alt="" height="16" width="16"/>
        </button>

        <a routerLink="create-new-book"
           class="px-4 py-2 bg-[#25388C] hover:bg-[#25388C]/90 rounded-lg flex items-center gap-2">
          <img src="/plus-white.svg" alt=""/>
          <h3 class="text-white font-medium text-sm">Create a New Book</h3>
        </a>
      </div>
    </div>

    <div class="card">
      <p-table
        [value]="allBooks"
        [paginator]="true"
        [rows]="6"
        [tableStyle]="{ 'min-width': '50rem' }"
        [rowsPerPageOptions]="[6, 12, 20]"
      >
        <ng-template #header>
          <tr>
            <th scope="col" class="border-none text-tableColor whitespace-nowrap text-sm">Book Title</th>
            <th scope="col" class="border-none text-t ableColor whitespace-nowrap text-sm">Author</th>
            <th scope="col" class="border-none text-tableColor whitespace-nowrap text-sm">Genre</th>
            <th scope="col" class="border-none text-tableColor whitespace-nowrap text-sm">Date Created</th>
            <th scope="col" class="border-none rounded-tr-sm rounded-br-sm text-tableColor whitespace-nowrap text-sm">
              Action
            </th>
          </tr>
        </ng-template>
        <ng-template #body let-book>
          <tr>
            <td class="font-medium text-xs text-tableColor">
              <div class="flex items-center gap-3">
                <img [src]="book.bookPoster" alt="" class="h-10"/>
                <h2 class="text-sm font-semibold text-primaryDarkColor3">{{ book.title }}</h2>
              </div>
            </td>
            <td class="font-medium text-xs text-tableColor">{{ book.author }}</td>
            <td class="font-medium text-xs text-tableColor">{{ book.genre }}</td>
            <td class="font-medium text-xs text-tableColor">{{ book.dateCreated }}</td>
            <td>
              <div class="flex items-center gap-3">
                <a [routerLink]="['/admin/all-books/edit-book', book.id]">
                  <img src="/edit.svg" alt="" class="cursor-pointer"/>
                </a>

                <div class="card flex justify-center">
                  <button (click)="showDialog()" class="btn-trash">
                    <img src="/trash.svg" alt="" />
                  </button>
                  <p-dialog header="Remove Book" [modal]="true" [(visible)]="visible" class="acc-req-modals"
                            [maximizable]="true">
                    <div class="text-center">
                      <img src="/deny.svg" alt="" class="mx-auto"/>
                      <h2 class="text-xl font-semibold text-primaryDarkColor3 mt-3">Are You Sure to Remove The Book?</h2>
                      <p class="text-base text-secondaryGreyColor mt-1">
                        Denying this request will notify the student they’re not <br /> eligible due to unsuccessful ID card
                        verification.
                      </p>
                      <div class="flex items-center gap-2">
                        <button (click)="closeDialog()"
                          class="mt-2  rounded-lg bg-gray-500 text-base font-semibold text-white py-3.5 text-center w-full">
                          Cancel
                        </button>
                        <button
                          class="mt-2  rounded-lg bg-[#F46F70] text-base font-semibold text-white py-3.5 text-center w-full">
                          Remove
                        </button>
                      </div>
                    </div>
                  </p-dialog>
                </div>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

  </div>
</app-admin-layout>
