<div class="grid grid-cols-12 gap-3">
  <div class="col-span-12 sm:col-span-6 md:col-span-3">
    <app-dashboard-stats-item [statusName]="'Borrowed Books'" [totalStatus]="145" [statusCaret]="'caret-down'" [totalStatusCaret]="2" />
  </div>
  <div class="col-span-12 sm:col-span-6 md:col-span-3">
    <app-dashboard-stats-item [statusName]="'Total Users'" [totalStatus]="317" [statusCaret]="'caret-up'" [totalStatusCaret]="4" />
  </div>
  <div class="col-span-12 sm:col-span-6 md:col-span-3">
    <app-dashboard-stats-item [statusName]="'Total Books'" [totalStatus]="163" [statusCaret]="'caret-up'" [totalStatusCaret]="7" />
  </div>
  <div class="col-span-12 sm:col-span-6 md:col-span-3">
    <app-dashboard-stats-item [statusName]="'Overdue Books'" [totalStatus]="84" [statusCaret]="'caret-down'" [totalStatusCaret]="3" />
  </div>
</div>
